* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 微軟正黑體, "Microsoft JhengHei", sans-serif;
    margin: 0 auto;
    padding: 0;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    width: 100%;
    position: fixed;
    clear: both;
    z-index: 99;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);

    background: rgba(255, 255, 255, 0.8);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(47%, rgba(246, 246, 246, 0.89)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), color-stop(47%, rgba(246, 246, 246, 0.89)), to(rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(246, 246, 246, 0.89) 47%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.8) 0%, rgba(246, 246, 246, 0.89) 47%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(246, 246, 246, 0.89) 47%, rgba(237, 237, 237, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}

.wrapper {
    width: 1260px;
    margin: 0 auto;
    clear: both;
}

.table {
    display: table;
}

.pd30 {
    padding-top: 30px;
}

.tp15 {
    top: 15px;
}

.txtcenter {
    text-align: center;
}
.txtbold {
    font-weight: bold;
}

.logo {
    width: 313px;
    height: 90px;
    float: left;
    margin: 10px auto;
    background-image: url(../img/TIAlogo.png);
    background-repeat: no-repeat;
}

.title {
    top: 35px;
    left: -40px;
    float: left;
    color: #002304;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

.title a {
    color: #002304;
}

.search_box {
    float: right;
    top: 50px;
    position: relative;
}

.search-wrapper input[type=text] {
    width: 160px;
    height: 30px;
    color: #002304;
    padding: 0 15px;
    background-color: #C4C4C4;
    border: 0 none;
}

.search-wrapper button {
    width: 30px;
    height: 30px;
    top: 1px;
    position: relative;
    background-color: #C4C4C4;
    border: none;
}

.search_box2 {
    float: right;
    position: relative;
    display: inline-block;
    font-size: 14px;
}

.fc-right {
    font-size: 14px;
}

.fc-right .search-wrapper input[type=text] {
    width: 300px;
    height: 30px;
    color: #002304;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
}

.search_box2 .search-wrapper input[type=text] {
    width: 160px;
    height: 30px;
    color: #002304;
    padding: 0 10px;
    background-color: #fff;
    border: 1px solid #C4C4C4;
}

.search_box2 .search-wrapper button, .fc-right .search-wrapper button {
    width: 45px;
    height: 30px;
    top: -1px;
    position: relative;
    background-color: #EFEFEF;
    border: 1px solid #C4C4C4;
}

/* navigations */
nav {
    width: 100%;
    height: 46px;
    position: relative;
    background-color: #002304;
    z-index: 1;
}

.nav {
    width: 1260px;
    margin: 0 auto;
    text-align: center;
    z-index: 0;
}

/* Menu List */
.nav>li {
    display: inline-block;
    position: relative;
    text-align: center;
}

/* Menu Links */
.nav>li>a {
    display: block;
    z-index: 1;
    padding: 0 18px;
    color: #fff;

    font-weight: bold;
    font-size: 20px;
    line-height: 46px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.nav>li:hover>a {
    background: #fff;
    color: #002304;
}

.banner {
    width: 100%;
    height: 556px;
    position: relative;
    overflow: hidden;
    background: url(../img/banner.jpg) center center no-repeat;
    background-size: cover;
}

/*.banner img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    position: absolute;
}*/

.slogan {
    max-width: 1260px;
    margin: 0 auto;
    padding-right: 10%;
    top: 338px;
    color: #fff;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    z-index: 3;
}

.slogan > div {
    letter-spacing: 2px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #042506;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

aside {
    width: 240px;
    float: left;
    position: relative;
}

.blocktitle,
.blocktitle2 {
    width: 100%;
    height: 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.blocktitle:before {
    border-top: 2px solid #002304;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 28px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.blocktitle2:before {
    border-top: 2px solid #0B487F;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.blocktitle span {
    font-size: 22px;
    color: #002304;
    font-weight: bold;
    background: #fff;
    padding: 0 2px 0 0;
}

.blocktitle a span {
    color: #002304;
}

.blocktitle2 span {
    font-size: 22px;
    color: #162838;
    font-weight: bold;
    background: #fff;
    padding: 0 2px 0 0;
}

.blocktitle2 a span {
    color: #0B487F;
}

.calender_box {
    margin: 0 0 15px 0;
}

.auto-calendar {
    margin: 20px 0 0 0;
}

section {
    width: 990px;
    float: right;
    position: relative;
}

.newsbox {}

.newsbox ul.newslist {
    margin: 0;
    padding: 0;
}

.newsbox ul.newslist li {
    font-size: 16px;
    list-style: none;
    border-bottom: 1px dashed #224126;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.newsbox ul.newslist li a {
    display: block;
    color: #000;
    padding: 20px;
}

.newsbox ul.newslist li a:hover {
    background: #eee;
    -o-transition: background .20s linear;
    -webkit-transition: background .20s linear;
    transition: background .20s linear;
}

.newsbox ul.newslist li:nth-child(even) {
    background: #F8FCFF;
}

.newsbox ul.newslist li:last-child {
    border-bottom: 2px solid #224126;
}

.newstitle {
    width: 100%;
    display: table-cell;
}

.arrows {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0 10px 35px;
}

.arrows img {
    max-width: none;
}

.info {
    display: table;
    margin: 0 0 10px 0;
}

.tag {
    display: table-cell;
    color: #fff;
    padding: 4px 20px;
    background-color: #224126;
}

.act {
    background-color: #e4551a;
}

.newin {
    background-color: #00a2c8;
}

.stay {
    background-color: #3f5162;
}

.rule {
    background-color: #007940;
}

.class {
    background-color: #005f75;
}

.time {
    display: table-cell;
    padding: 0 15px;
}

.pgbox {
    text-align: center;
}

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 30px auto;
}

.pagination li {
    display: inline;
    text-align: center;
}

.pagination a {
    float: left;
    display: block;
    font-size: 14px;
    padding: 5px 12px;
    color: #fff;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
}

.pagination a.active {
    cursor: default;
}

.pagination a:active {
    outline: none;
}

.pagination li:first-child a {
    border-radius: 6px 0 0 6px;
}

.pagination li:last-child a {
    border-radius: 0 6px 6px 0;
}

.pagination a {
    border-color: #ddd;
    color: #224126;
    background: #fff;
}

.pagination a:hover {
    background: #eee;
}

.pagination a.active,
.pagination a:active {
    border-color: #224126;
    background: #224126;
    color: #fff;
}

.accordion_box {
    margin: 20px auto;
    position: relative;
}

.accordion {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
}

.accordion_box.qa .accordion-header {
    background: #fff;
}

.accordion-header {
    background: #F8FCFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.js-accordion-header {
    padding: 15px;
}

.accordion_box.qa .accordion:first-child>.accordion__item>.accordion-header {
    border-bottom: 1px dashed #a0a0a0;
}

.accordion-header a,
.accordion-body__contents ul a {
    color: #3F5162;
}

.accordion-header a {
    color: #3F5162;
    padding: 15px;
}

.accordion-body__contents ul li a.active {
    color: #224126;
    font-weight: bold;
}

.accordion-header:hover {
    background: #E1F1FF;
    position: relative;
    z-index: 5;
}

.accordion-body {
    background: #f8fcff;
    color: #3F5162;
    display: none;
}

.accordion-body__contents {
    font-size: 15px;
}

.accordion-body__contents ul {
    padding: 0;
    margin: 0;
}

.accordion-body__contents ul li {
    list-style: none;
    padding-left: 15px;
}

.accordion-body__contents p {
    padding: 20px 45px;
    font-size: 16px;
    margin: 0;
    line-height: 32px;
}

.accordion-body__contents p span {
    color: #DB4437;
    border-bottom: 1px solid #DB4437;
    font-weight: bold;
}

.accordion-body__contents img {
    max-width: 715px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.accordion-body__contents ul li:hover, .accordion-body__contents ul li.active, .accordion_box.qa .accordion-header.js-accordion-header:hover {
    background: #E1F1FF;
}

.accordion-body__contents ul li a {
    display: block;
    background-image: url(../img/dot.png);
    background-position: left;
    background-repeat: no-repeat;
    padding: 8px 0;
    text-indent: 15px;
}


.accordion__item.active:last-child .accordion-header {
    border-radius: none;
}

.accordion:first-child>.accordion__item>.accordion-header {
    border-bottom: 1px solid transparent;
}

.accordion__item>.accordion-header:after {
    content: url(../img/down-arrow.png);
    font-size: 18px;
    float: right;
    position: relative;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
        transform: rotate(0deg);
}

.accordion__item>.accordion-header.no:after {
    content: "";
}

.accordion__item.active>.accordion-header:after {
    -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
}

.accordion__item .accordion__item .accordion-header {
    background: #e1f1ff;
    font-size: 16px;
}

.digibox {
    background-color: #007ec8;
}

.accordion-header.no.digibox a {
    color: #fff;
    display: block;
}

.accordion-header.no.digibox a:hover {
    background-color: #3c7ea5;
}

.banner_s {
    margin: 10px auto;
}

.banner_s:last-child {
    margin: 0 auto;
}

.banner_s img {
    width: 240px;
    height: 70px;
    border: 1px solid #EFEFEF;
}

.photolist {
    border-bottom: 2px solid #224126;
}

.photolist ul {
    margin: 15px auto 10px auto;
    padding: 0;
    clear: both;
}

.photolist ul li {
    max-width: 24.6%;
    display: inline-block;
    padding: 5px;
    list-style: none;
    overflow: hidden;
    vertical-align: top;
}

.photolist ul li img {
    max-width: 100%;
    max-height: 175px;
    overflow: hidden;
}

.photolist ul li:nth-child(4) {
    padding: 5px 0 5px 5px;
}

.photolist img {
    display: flex;
    max-width: 100%;
    height: auto;
}

.photolist ul li a {
    color: #000;
}

.breadbox {
    margin: 30px auto;
}

.breadcrumb {
    font-size: 14px;
    padding: 0 0 0 15px;
}

.breadcrumb img {
    padding: 0 5px 0 0;
}

.breadcrumb a {
    color: #232323;
}

.breadcrumb a.active {
    color: #224126;
    font-weight: bold;
}

.nomg {
    margin: 0 auto;
}

.seletbox {
    display: inline-block;
    padding: 15px 0 5px 0;
}

.seletbox span {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 220px;
    height: 30px;
    font-size: 14px;
}

.dropdown a {
    color: #232323;
}

.filebox {
    margin: 15px auto;
}

.filebox ul {
    padding: 0;
    margin: 0;
}

.filebox ul li {
    list-style: none;
    padding: 15px 40px;
    font-size: 16px;
    border-bottom: 1px dashed #224126;
}

.filebox ul li:nth-child(even) {
    background: #F8FCFF;
}

.filebox ul li:hover {
    background-color: #eee;
    -o-transition: background .20s linear;
    -webkit-transition: background .20s linear;
    transition: background .20s linear;
}

.filebox .filehead {
    background-color: #002304;
    color: #fff;
    padding: 10px 40px;
    font-weight: bold;
    font-size: 18px;
}

.filebox ul li:last-child {
    border-bottom: 2px solid #224126;
}

.filebox a {
    color: #000;
}

.filetitle,
.filename {
    display: table-cell;
    width: 590px;
    vertical-align: middle;
    padding-left: 10px;
}

.uptime,
.uptime_inner {
    display: table-cell;
    width: 150px;
    vertical-align: middle;
    text-align: center;
    padding-left: 5px;
}

.name,
.name_inner {
    display: table-cell;
    width: 150px;
    vertical-align: middle;
    text-align: center;
    padding-left: 5px;
}

.downtitle,
.download {
    display: table-cell;
    width: 100px;
    text-align: right;
}

.download img {
    padding: 0 20px;
    vertical-align: middle;
}

/* START TOOLTIP STYLES */
[tooltip] {
    position: relative;
    /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    /* opinion 2 */
    font-size: .9em;
    /* opinion 3 */
    line-height: 1.5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: '';
    border: 5px solid transparent;
    /* opinion 4 */
    z-index: 1001;
    /* absurdity 1 */
}

[tooltip]::after {
    content: attr(tooltip);
    /* magic! */

    /* most of the rest of this is opinion */
    text-align: center;

    /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
    min-width: 3em;
    width: 10em;
    /*overflow: hidden;
    text-overflow: ellipsis;*/
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    -webkit-box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
            box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
    /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    -webkit-transform: translate(-50%, -.5em);
    -ms-transform: translate(-50%, -.5em);
        transform: translate(-50%, -.5em);
}

/* KEYFRAMES */
@-webkit-keyframes tooltips-vert {
  to {
    opacity: .9;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@keyframes tooltips-vert {
  to {
    opacity: .9;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@-webkit-keyframes tooltips-horz {
  to {
    opacity: .9;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after{
  -webkit-animation: tooltips-vert 300ms ease-out forwards;
          animation: tooltips-vert 300ms ease-out forwards;
}

.calendar-box {
    display: inline-block;
    top: 30px;
    position: relative;
}

.fc-widget-header {
    background-color: #e1f1ff;
}

.fc-toolbar .fc-left {
    margin-right: 15px;
}

.tabox {
    margin: 15px auto;
    display: inline-block;
}

ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
}

ul.tabs li {
   float: left;
    margin: 0;
    cursor: pointer;
    padding: 0px 21px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #002304;
    color: #002304;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    margin: 0 10px 0 0;
}

.tab_last { border-right: 1px solid #333; }

ul.tabs li:hover {
    background-color: #ccc;
    color: #002304;
}

ul.tabs li.active {
    background-color: #002304;
    color: #fff;
    display: block;
}

.tab_container {
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #fff;
    overflow: auto;
}

.tab_content {
    display: none;
    padding: 5px 0 0 0;
}

.tab_drawer_heading { display: none; }

footer {
    background-color: #002304;
    margin: 40px auto 0 auto;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

footer .visitor {
    font-size: 16px;
    margin: 0 auto 10px auto;
}

footer .copyright {
    font-size: 12px;
}

footer .copyright a {
    color: #fff;
}
